/* styles.css */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}

footer {
    background-color: lightgrey;
    text-align: center;
    padding: 1rem;
    flex-shrink: 0;
}
/* styles.css */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.welcome-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    animation: fadeIn 2s ease-in-out;
    z-index: 1000;
}
/* In your CSS file */
body, html, #root {
    height: 100%;
    margin: 0;
}

.home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}
/* Ensure the HTML, body, and root element take the full height */
html, body, #root {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Set the home container to flex and take the full height */
.home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Make sure the content takes up all the available space */
.content {
    flex: 1;
}

/* Optionally, set padding and margin for better spacing */
.content h1, .content h2 {
    margin: 0;
    padding: 20px;
}
.foot{
     
    position: sticky;
    padding: 0;
}
.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust as needed */
  }
  
  .loading-container img {
    max-width: 100%;
    height: auto;
  }
  
  .loading-container p {
    margin-top: 10px;
  }
  

